<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickDraw'TSE</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

<nav>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Sign up</a>
</nav>

<main>
    <div class="overlay">
        <div class="welcome-container">
            <h1>QuickDraw'TSE</h1>
            <p class="description">
                A student project in **Big Data & Machine Learning**.<br><br>
                Test your drawing skills against an AI that tries to guess your artwork!<br>
                Take part in the challenge and climb the leaderboard.
            </p>
            <a href="{% url 'login' %}" class="btn-primary">Start drawing</a>
        </div>
    </div>
</main>

</body>
</html>
