<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/leaderboard.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'waiting_room' %}">Play</a>
            <a href="{% url 'leaderboard' %}">LeaderBoard</a>
        </nav>
    </header>

    <h1>Game Leaderboard</h1>
    {% if username %}
        <p>Welcome, <strong>{{ username }}</strong>!</p>
    {% endif %}

    <div class="container">
        <!-- Global Leaderboard -->
        <div class="leaderboard">
            <h2>Top 10 Global Scores</h2>
            <table>
                <tr>
                    <th>Rank</th>
                    <th>Player</th>
                    <th>Score</th>
                </tr>
                {% for game in global_data|slice:":10" %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        {% for user in users_collection %}
                            {% if user.user_id == game.user_id %}
                            {{ user.username }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ game.score }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Personal Best -->
        <div class="leaderboard">
            <h2>Your Top 10 Scores</h2>
            <table>
                <tr>
                    <th>Score</th>
                    <th>Global Rank</th>
                </tr>
                {% for user_game in player_data %}
                <tr>
                    <td>{{ user_game.score }}</td>
                    <td>
                        {% for game in global_data %}
                            {% if game.user_id == user_game.user_id and game.game_id == user_game.game_id%}
                                {{ forloop.counter }}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</body>
</html>
