<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Big Data</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'signup' %}">Signup</a>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'game' %}">Drawing</a>
        </nav>
    </header>
    <div class="center-method">
        <img src="{% static 'images/welcom.png' %}" alt="Description de l'image" class="centered-image">
    </div>
    
</body>
</html>