<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <title>Drawing Zone</title>
</head>
<body>

<div class="container">
    <h1>Draw the word!</h1>

    <!-- Chronomètre -->
    <div id="timer" class="timer">
        ⏳ Time left: <span id="time-left">60</span> seconds
    </div>

    <!-- Zone de dessin -->
    <div class="drawing-area">
        <div id="word-to-draw" class="word-display">AI must guess: </div>
        <canvas id="drawingCanvas" width="512" height="512"></canvas>
        <div id="prediction-result" class="prediction-result"></div>
    </div>

    <!-- Boutons -->
    <div class="button-group">
        <button class="clear-button" onclick="clearCanvas()">🧼 Clear</button>
        <button class="pass-button" onclick="ChangeWord()">⏭️ Pass</button>
    </div>
</div>

<script src="{% static 'js/game.js' %}"></script>

</body>
</html>
