<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to QuickDraw'TSE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <main>
        <section class="login-container">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="next" value="{% url 'log_home' %}">
                <button type="submit">Login</button>
            </form>
            <p>
                You don't have an account ?
                <a href="{% url 'signup' %}">Signup here</a>.
            </p>
        </section>
    </main>
</body>
</html>
