<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup to QuickDraw'TSE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
    <main>
        <section class="login-container">
            <h2>Signup</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="next" value="{% url 'log_home' %}"> <!-- Permet une redirection conditionnelle -->
                <button type="submit">Signup</button>
            </form>
            <p>
                Already have an account?
                <a href="{% url 'login' %}">Log in here</a>.
            </p>
        </section>
    </main>
</body>
</html>
